<!DOCTYPE html>
<html>
  <head>
    <title>PinPin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<script src="https://kit.fontawesome.com/eba665e7f0.js" crossorigin="anonymous"></script>
